'scopeName': 'source.log'
'name': 'Log'
'fileTypes': [
  'txt',
  'log'
]
# Try to fuzzy match a time stamp on first line
'firstLineMatch': '^[0-9]{2}.?[0-9]{2}.?[0-9]{2}.?[0-9]{2}.[0-9]{2}.?[0-9]{2}.+'
'patterns': [
  
  # Time stamp syntax
  {
    'match': '^[0-9.: \-]*?[0-9]{3}:? '
    'captures':
      '0':
        'name': 'definition.comment.log'
  }
  
  # Android Log syntax
  {
    'match': '.* GC_FOR_ALLOC .*'
    'captures':
      '0':
        'name': 'variable.parameter.gc-alloc.log'
  }
  {
    'match': '(?=.*?[(][0-9]+[)])([A|E]\/[a-zA-Z].+)'
    'captures':
      '1':
        'name': 'definition.log.log-error'
  }
  {
    'match': '(W\/.+?[0-9][)]:)|(D\/.+?[0-9][)]:)|(I\/.+?[0-9][)]:)|(V\/.+?[0-9][)]:)'
    'captures':
      '1':
        'name': 'definition.log.log-warning'
      '2':
        'name': 'definition.log.log-debug'
      '3':
        'name': 'definition.log.log-info'
      '4':
        'name': 'definition.log.log-verbose'
  }
  
  # Nabto log syntax
  {
    'match': '^\#'
    'captures':
      '0':
        'name': 'definition.comment.log'
  }
  
  # Strings hightlight
  {
    'begin': '[\'"]'
    'beginCaptures':
      '0':
        'name': 'definition.string.begin.log'
    'end': '[\'"]'
    'endCaptures':
      '0':
        'name': 'definition.string.end.log'
    'name': 'string.quoted.single.log'
    'patterns': [
      {
        'match': '\\\\.'
        'name': 'constant.character.escape.log'
      }
    ]
  }
]
