@import 'ui-variables';

.log-view {
  @item-width: 300px;
  @item-color: #31363f;

  padding: @component-padding / 2;

  .header {
    padding: @component-padding / 2;

    .description {
      display: inline-block;
      color: @text-color-subtle;
      padding-left: @component-padding;
      &.warning {
        color: @text-color-warning;
        font-weight: normal;
      }
    }
  }

  .input-block.log-timestamps {
    padding: @component-padding / 2;

    .log-timestamps-line {
      border-bottom: 2px solid @item-color;
      width: 100%;
      margin-bottom: 9px;
    }

    .input-block-item {
      flex: 1 1;
    }

    .input-block-item--flex {
      padding: 0;
      flex: 100 1;
    }

    .icon {
      color: @item-color;

      &:before {
        width: 10px;
        margin-right: 0;
      }
    }
  }

  .btn-icon {
    line-height: 0;
    overflow: hidden;

    &::before {
      line-height: 0.5;
      font-size: 32px;
      width: 32px;
    }
  }

  .close-button {
    margin-left: @component-padding * 2;
    cursor: pointer;
    color: @text-color-subtle;
    &:hover {
      color: @text-color-highlight;
    }
    .icon::before {
      margin-right: 0;
      text-align: center;
    }
  }

  .icon-scroll {
    background: @text-color-success !important;
    &::before {
      animation: scroll-down 1s linear infinite;
      @keyframes scroll-down {
        0% { transform: translateY(0%); }
        49% { transform: translateY(150%); }
        50% { transform: translateY(-150%); }
        100% { transform: translateY(0%); }
      }
    }
  }

  .input-block {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    .input-block-item {
      display: flex;
      flex: 1 1 @item-width;
      padding: @component-padding / 2;

      .btn-group {
        display: flex;
      }
    }

    .input-block-item--flex {
      flex: 100 1 @item-width;
    }

    .btn-group {
      display: flex;
      flex: 1;
      .btn {
        flex: 1;
      }
      & + .btn-group {
        margin-left: @component-padding;
      }
    }

    .btn-group {
      flex: 1 1 @item-width;
    }

    .btn-group-level {
      flex: 1 1 @item-width * 2;

      .btn {
        flex: 1 1 20%;
        padding: 0;
        text-align: center;
      }
    }
  }

  .editor-container {
    position: relative;
    atom-text-editor {
      width: 100%;
    }
  }
}
